@font-face {
  font-family: "MADE Coachella";
  src: url("./font/Coachella_Font_Family/MADECoachella\ 400.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MADE Coachella";
  src: url("./font/Coachella_Font_Family/MADECoachella-Thin\ 250.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "MADE Coachella";
  src: url("./font/Coachella_Font_Family/MADECoachella-Light\ 300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MADE Coachella";
  src: url("./font/Coachella_Font_Family/MADECoachella-Medium\ 500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MADE Coachella";
  src: url("./font/Coachella_Font_Family/MADECoachella-Bold\ 700.otf");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MADE Coachella", serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}
/* Navbar */

nav {
  padding: 40px 0px;
}

nav ul {
  display: flex;
  color: #3b221d;
}

nav ul li {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-left: 30px;
}
nav ul li a {
  color: #3b221d;
  text-decoration: none;
}

.nav-icons li a,
.menu-bar {
  font-size: 2rem;
}

.menu-bar {
  display: none;
}

/* Hero Section */

.hero {
  background: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  padding: 60px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  gap: 4rem;
}

.hero-text h1,
.hero-text h2,
.hero-text p {
  color: #f7dfb1;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 3px;
}

h2 {
  font-size: 4rem;
  font-weight: 200;
}

.hero-text p {
  max-width: 600px;
  font-weight: 200;
}

#what-we-offer {
  padding: 80px 0;
}

.section-title {
  color: #947252;
  border-bottom: 2px solid #947252;
  text-align: center;
  padding-bottom: 20px;
  max-width: 450px;
  margin: 0 auto 50px;
}

.section-title h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 3px;
}

.section-title h4 {
  font-size: 2rem;
  font-weight: 200;
}
.card {
  justify-self: center;
}

.card h5 {
  margin-top: -50px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  color: #f7dfb1;
}

#shop {
  background-image: url("../images/shop-bg.svg");
  padding: 60px 0;
}

.shop-title {
  color: #947252;
  margin: 30px 0;
}

.shop-title h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.8;
}
.shop-title h4 {
  font-size: 3rem;
  font-weight: 200;
}

.men,
.women {
  display: flex;
  flex-direction: column;
}

.men .shop-title-wrapper {
  align-self: flex-end;
}

.women .shop-title-wrapper {
  align-self: flex-start;
  margin-bottom: 30px;
}

.men .shop-title {
  border-left: 3px solid #947252;
  padding-left: 10px;
}

.women .shop-title {
  text-align: right;
  padding-right: 10px;
  border-right: 3px solid #947252;
}

.btn {
  border: 3px solid #947252;
  color: #947252;
  padding: 10px 30px;
  font-size: 1.2rem;
  margin-left: 20px;
}
.btn:hover {
  background-color: rgba(148, 114, 82, 0.2);
}

/* Footer */
footer {
  background-color: #3b221d;

  padding: 30px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

footer img {
  align-self: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  border-left: 2px solid #f7dfb1;
  border-right: 2px solid #f7dfb1;
}

.footer-links li {
  list-style-type: none;
  padding: 20px;
  width: 50%;
  text-align: center;
}
.footer-links li a {
  color: #f7dfb1;
}

.footer-links li a:hover {
  color: rgba(247, 223, 177, 0.623);
}

footer h5 {
  padding: 20px;
  font-size: 18px;
  text-align: center;
  color: #f7dfb1;
}

.social {
  display: flex;
  justify-content: center;
}
.social li {
  padding: 10px;
}

.social li a {
  color: #f7dfb1;
  font-size: 2rem;
}

.social li a:hover {
  color: rgba(247, 223, 177, 0.623);
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-bar {
    display: block;
  }

  .footer-flex {
    flex-direction: column;
  }

  .footer-links {
    max-width: 100%;
    border: none;
  }
}
